<div class="container pt-3">
    <h3 class="mb-4">Bitcoin Conversion Table</h3>
    <div class="row mb-3 form-search">
        <div class="col-md-5">
            <label class="mb-2" for="search">Search</label>
            <input type="text" class="form-control" id="search" placeholder="Search"
                [(ngModel)]="listService.searchTerm">
        </div>
        <div class="col-md-2">
            <label class="mb-2" for="type">State</label>
            <select id="type" class="form-control" [(ngModel)]="listService.type">
                <option value="" selected>Please select</option>
                <option *ngFor="let item of typeList$ | async">{{item}}</option>
            </select>
        </div>
        <div class="col-md-5">
            <label>Value</label>
            <div class="d-flex justify-content-between">
                <p class="mb-0">{{listService.range[0]}}</p>
                <p class="mb-0">{{listService.range[1]}}</p>
            </div>
            <div class="px-2">
                <mv-slider [(value)]="listService.range" [range]="true" [min]="(range$ | async).min" [max]="(range$ | async).max" (slideStop)="range($event)"></mv-slider>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th (click)="sort('name')">Name <fa-icon *ngIf="sortCol == 'name'" [icon]="sortIcon[sortDir]"></fa-icon></th>
                <th class="type" (click)="sort('type')">Type <fa-icon *ngIf="sortCol == 'type'" [icon]="sortIcon[sortDir]"></fa-icon></th>
                <th class="value" (click)="sort('value')">Value <fa-icon *ngIf="sortCol == 'value'" [icon]="sortIcon[sortDir]"></fa-icon></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of list$ | async">
                <td>{{row.name}}
                    <span class="unit">{{row.unit}}</span>
                </td>
                <td>{{row.type}}</td>
                <td class="value">{{row.value | number: '1.3-3'}}</td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="listService.page" [pageSize]="listService.pageSize"
        [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</div>