.table {
    th {
        cursor: pointer;
    }

    .type {
        width: 7rem;
    }

    .value {
        width: 9rem;
        text-align: right;
    }

    .unit {
        font-size: 0.75rem;
        display: block;
        color: #999;
        line-height: 0.75;
    }
}

ngb-pagination ::ng-deep {
    .sr-only {
        display: none;
    }
}